{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}

<div class="jumbotron">
    <h1 class="display-4 text-center text-colored text-danger">{{title}}</h1>
</div>            


<div class="container">
    <div class="d-flex justify-content-center"  >
        <form class='w-50' method='POST' >
            {% csrf_token %}
                {{form | crispy}}
            <input class="btn btn-danger w-100" type='submit' value="Registrar cita">

        </form>
    
    </div>
</div>

      
{% endblock %}