{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}

{{formatDate}}

<div class="container">
    <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for a in filterUser %}
                <tr class="text-center">
                    <td class='text-primary'>@{{a.user}}</td>
                    <td>{{a.name | upper}}</td>
                    <td>{{a.lastName | upper}}</td>
                    <td>{{a.specialty.name}}</td>
                    <td>{{a.date|date:"d/m/Y" }}</td>
                    <td>{{a.branchOffices.name}}</td>
                    <td><a href="{% url 'AppointmentDeleteView' a.id %}"><i class="fa fa-trash bg-danger p-2 text-white rounded"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    
</div>


{% endblock %}