{% extends 'controlPanel/controlPanelBase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}
<!-- medic loged -->
<div class=" medical-container container mb-4 mt-4 rounded bg-white">
  <div class="row ">
    <div class="col-md-10">
      
      <h1 class="display-3 text-bold text-center">Dr. {{user.name | title}} {{user.lastName | title}}</h1>
      
    </div>
  </div>
</div>
<!-- medic loged -->





    <!-- Main content -->

    <div class="container">
      <div class="row">
        <div class=" col-lg-6 col-6">
          <a href="{% url 'AppointmenToDay' %}">
          <!-- small box -->
          <div class="small-box bg-info medical-tags">
            <div class="inner">
              <h3 class="number">{{appointmentMonth}}</h3>
    
              <p>Citas para hoy</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
          </div>
        </a>
        </div>
        <!-- ./col -->
        <div class=" col-lg-6 col-6">
          <a href="{% url 'HealthyListView' %}">
          <!-- small box -->
          <div class="small-box bg-success medical-tags">
            <div class="inner">
              <h3 class="number">{{cured}}<sup style="font-size: 20px"></sup></h3>
    
              <p>Pacientes Sanos</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
          </div>
        </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-6">
          <a href="{% url 'PatientsListView' %}">
          <!-- small box -->
          <div class="small-box bg-warning medical-tags">
            <div class="inner">
              <h3 class="number">{{countUser}}</h3>
    
              <p>Pacientes Registrados</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
          </div>
          </a>
        </div>
        <!-- ./col -->
        <div class=" col-lg-6 col-6">
            <a href="{% url 'SicksListView' %}">
            <!-- small box -->
            <div class="small-box bg-danger medical-tags">
              <div class="inner">
                <h3 class="number">{{sickUser}}</h3>
      
                <p>Pacientes enfermos</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </a>
          </div>
  
        <!-- ./col -->
      </div>
    
    </div>



      
{% endblock %}



