<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {{title}} {% endblock %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'lib/adminSources/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'lib/adminSources/dist/css/adminlte.min.css' %}">
  <!-- <link rel="stylesheet" href="../dist/css/adminlte.min.css"> -->
  <!-- internal style -->
  <link rel="stylesheet" href="{% static 'css/controlPanel.css' %}">
  <!-- internal style -->
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'index' %}" class="nav-link">Inicio</a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link"></a>
      </li> -->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <!-- sidebar-dark-primary -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'controlPanel' %}" class="brand-link">
      <img src="{% static 'img/logos/logo2.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-bold">Medical Service</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> -->
        </div>
        <div class="info">
          <a href="#" class="d-block h4 text-white"><i class="fas fa-user-md"></i> Dr. {{user.name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="ul-sidebar nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="text-white  nav-icon fas fa-users"></i>
              <p class="text-white" >
                Pacientes
                <i class="text-white right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="text-primary  nav-item">
                <a href="{% url 'PatientsListView' %}" class="nav-link">
                  <i class="text-warning fas fa-user-injured nav-icon"></i>
                  <p class="text-white" >Listado de pacientes</p>
                </a>
                <a href="{% url 'CuredList' %}" class="nav-link">
                  <i class="  nav-icon fas fa-smile-beam text-success"></i>
                  <p class="text-white" >
                    Pacientes sanos
                    <i class="text-white  fas fa-angle-left right"></i>
                  </p>
                </a>
                <a href="{% url 'SicksList' %}" class="nav-link">
                  <i class="  nav-icon fas fa-virus text-danger"></i>
                  <p class="text-white" >
                    Pacientes enfermos
                    <i class="text-white  fas fa-angle-left right"></i>
                  </p>
                </a>
  
              </li>
            </ul>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="text-white  nav-icon fas fa-calendar-check"></i>
                <p class="text-white" >
                  Citas
                  <i class="text-white  fas fa-angle-left right"></i>
                </p>
              </a>

              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'AppointmenToDay' %}" class="nav-link">
                    <i class="text-success  far fas fa-calendar-day nav-icon"></i>
                    <p class="text-white" >Citas para hoy</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'AppointmentListView' %}" class="nav-link">
                    <i class="text-warning  far fa-calendar-alt nav-icon"></i>
                    <p class="text-white" >Citas para el mes</p>
                  </a>
                </li>
              </ul>
            </li>
          </li>
          <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link">
              <i class="text-white  nav-icon fas fa-globe"></i>
              <p class="text-white" >
                Pagina
              </p>
            </a>
          </li> 
          <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link">
              <i class="text-white  nav-icon fas fa-globe"></i>
              <p class="text-white" >
                Crear Perfil
              </p>
            </a>
          </li> 


      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              {% block section %}
                {{section}}
              {% endblock  %}
          </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>



    
  

    {% block content %}
      
    {% endblock %}
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2021-2025 <a href="#">MedicalService</a>.</strong> Todos los derechos reservados.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'lib/adminSources/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lib/adminSources/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lib/adminSources/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'lib/adminSources/dist/js/demo.js' %}"></script>

{% block localScript %}
  
{% endblock  %}

</body>
</html>
