{% extends 'controlPanel/controlPanelBase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}








{% block content %}





<!-- medic loged -->
  <div class="container">
    <div class="row d-flex justify-content-center aling-item-center">
      <div class="col-md-8 display-3 d-flex align-items-center" >Dr. {{user.name}}</div>
      <div class="col-md-4 d-flex justify-content-center"><img class="img-doctor" src="{{ request.user.image.url}}" alt=""></div>
    </div>
  </div>
<!-- medic loged -->

  <!-- controls apointmenst -->

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{appointmentMonth}}</h3>
  
            <p>Citas para hoy</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'AppointmenToDay' %}" class="small-box-footer">Ver citas <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{cured}}</h3>
  
            <p>Pacientes Sanos</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'CuredList' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{countUser}}</h3>
  
            <p>Pacientes Registrados</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="{% url 'PatientsListView' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{sickUser}}</h3>
  
            <p>Pacientes enfermos</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="{% url 'SicksList' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  
  </div>

  <!-- controls apointmenst -->

<!-- patient -->
  <div class="container ">
    <div class="card card-solid mt-4">
      <div class="card-body pb-0">
        <div class="row">
          {% for p in patientsAll %}
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                Paciente 
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b class="text-bold">{{p.name|title}}</b></h2>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small mt-2"><span class="fa-li"><i class="fas fa-lg fa-id-card"></i></span> D.N.I: {{p.dni}}</li>
                      <li class="small mt-2"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: {{p.direc}}, {{p.loc}}, {{p.pcia}}</li>
                      <li class="small mt-2"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: + 54 - {{p.tlf}}</li>
                      </ul>
                      <p class="text-muted text-sm">
                        <b class="text-danger">Patologia: 
                          {% for e in p.patology.all  %}
                            {{e.name}} 
                          {% endfor %}
                        </b>
                      </p>
                    </div>
                  <div class="col-5 text-center">
                    <img src="{{p.image.url}}" alt="user-avatar" class="img-circle img-fluid img-patient">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                  </a>
                  <a href="{% url 'PatientDetailView' p.id %}" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Ver Historia
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

<!-- patient -->






      
{% endblock %}



