{% extends 'controlPanel/controlPanelBase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




<script>
  $(document).ready(function(){
    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{% for i in specialty %}'{{i.name}}',{% endfor %}],
            datasets: [{
                label: 'Pacientes enfermos',
                data: [{% for i in patientsCount %}{{i.name}},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                color: [
                  'hex(#fff)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  });
</script>




{% block content %}

<canvas id="myChart" height="360" style="height: 180px; display: block; width: 554px;" width="1108" class="chartjs-render-monitor"></canvas>

<!-- medic loged -->
<div class="container">
  <div class="row d-flex justify-content-center aling-item-center">
    <div class="col-md-8 display-3 d-flex align-items-center" >Dr. {{user.name}}</div>
    <div class="col-md-4 d-flex justify-content-center"><img class="img-doctor" src="{{ request.user.image.url}}" alt=""></div>
  </div>
</div>
<!-- medic loged -->

  <!-- controls apointmenst -->

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{appointmentMonth}}</h3>
  
            <p>Citas para hoy</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'AppointmenToDay' %}" class="small-box-footer">Ver citas <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{cured}}</h3>
  
            <p>Pacientes Sanos</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'CuredList' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{countUser}}</h3>
  
            <p>Pacientes Registrados</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="{% url 'PatientsListView' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{sickUser}}</h3>
  
            <p>Pacientes enfermos</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="{% url 'SicksList' %}" class="small-box-footer">Mas Informacion <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  
  </div>

  <!-- controls apointmenst -->








      
{% endblock %}



