{% extends 'controlPanel/controlPanel.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}

<div class="container">
    <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for a in usersAppointment  %}
                <tr class="text-center">
                    <td class='text-primary'>@{{a.user}}</td>
                    <td>{{a.name | upper}}</td>
                    <td>{{a.lastName | upper}}</td>
                    <td>{{a.specialty.name}}</td>
                    <td>{{a.date|date:"d/m/Y" }}</td>
                    <td>{{a.branchOffices.name}}</td>
                    <td><a href="{% url 'PatientDetailView' a.user_id %}"><i class="fa fa-eye text-white bg-success p-2 rounded"></i></a></td>
                    <td><a href="{% url 'UsersUpdateView' a.user_id %}"><i class="fa fa-edit text-white bg-warning p-2 rounded"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    
</div>



      
{% endblock %}