<div class="container mt-4">
    <div class="membership d-flex justify-content-center">
          <div class="row w-50 cardMember">
            <div class="col-8 data p-4">
              <span class="items name">{{object.name| title}} {{object.lastName| title}}</span>
              <span class="items lastName">{{object.nrMembership}}</span>
              <span class="items phone">Telf:{{object.tlf}}</span>
            </div>


            <div class="col-4 logo2 bg-danger d-flex align-items-center">
              <div class="display-5 text-white text-center">Tarjeta Afiliado</div>
            </div>
          </div>

    </div>
