{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}


<link rel="stylesheet" href="{% static 'css/UserDetailProfile.css' %}">


<div class="container">
    <div class="container">
        <h1 class="display-4 text-center text-danger text-bold">Mis datos</h1>
    </div>
</div>      





<div class="container info">
    <div class="row">
        <div class="col-12">
            <!-- patient -->
  <div class="container ">
    <div class="card card-solid mt-4">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 d-flex align-items-stretch flex-column">
            <div class="card w-100 bg-light d-flex flex-fill">
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12 mt-4">
                    <div class="d-flex justify-content-between">
                      <h2 class="lead"><b class="text-bold">{{object.name|title}} {{object.lastName|title}}</b>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small mt-4"><span class="fa-li"><i class="fas fa-lg fa-id-card"></i></span> D.N.I: {{object.dni}}</li>
                          <li class="small mt-4"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: {{p.direc}}, {{object.loc}}, {{object.pcia}}</li>
                          <li class="small mt-4"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: + 54 - {{object.tlf}}</li>
    
                        </ul>
  
                      </h2>
                      <img src="{{object.image.url}}" alt="user-avatar" class="img-patient rounded img-fluid img-patient">
  
                    </div>
                      <hr class="w-100">
                    </div>
                    
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <a href="{% url 'userProfile' object.id %}" class="btn btn-sm btn-primary">
                  <i class="fas fa-edit"></i>
                   Editar mi perfil
                  </a>

                   <a href="{% url 'userProfile' object.id %}" class="btn btn-sm btn-primary ">
                   <i class="fas fa-edit"></i>
                    Hacerme mimbro
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if user.nrMembership == None %}
    <p>no tiene tarjeta de afiliacion</p>
  {% else %}
    <div class="container mt-4">
      <div class="membership d-flex justify-content-center">
            <div class="row w-50 cardMember">
              <div class="col-8 data p-4">
                <span class="items name">{{object.name| title}} {{object.lastName| title}}</span>
                <span class="items lastName">{{object.nrMembership}}</span>
                <span class="items phone">Telf:{{object.tlf}}</span>
              </div>


              <div class="col-4 logo2 bg-danger d-flex align-items-center">
                <div class="display-5 text-white text-center">Tarjeta Afiliado</div>
              </div>
            </div>

      </div>

    </div>      
    </div>


  {% endif %}


  </div>
<!-- patient -->
  </div>


  
</div>







      
{% endblock %}