/* Globals */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --firtsColor:#E6203A;
    --secondsColor:#33287C;
    --sidebarColor:#070C1B;
}



a{
    text-decoration: none;
    color: var(--secondsColor);
}

body{
    position: relative;
    padding-bottom: 7rem;
    min-height: 100vh;
}

.contenedor{
    margin-bottom: 6rem;
}




/* /Globals */


.logo{
    width: 90px;
    height: auto;
    padding:1rem;
}


/* branchOddices */
.img-sucursal{
    object-fit: contain;
}


/* docs */
.img-doc{
    width:auto;
    
    object-fit: contain;
}



.nav-container{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;


}

@media screen and (max-width: 600px) {

    .nav-container{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 100;
        clip-path:none;
    }
}


.dropdown{
    z-index: 200;
}





/* footer */

.footer{
    position:absolute;
    bottom:0;
    width: 100%;
    margin-top:6rem;
}

.footer-conatiner{
    background:var(--firtsColor)
}
