:root{
    --firtsColor:#E6203A;
    --w:#fff;
}



.text-colored{
    color: var(--firtsColor);
}

.jumbotron > h1{
    font-weight: bold;
    border-bottom: 1px solid var(--firtsColor);
}


.ul-descriptions{
    list-style-type: none;
}

.ul-descriptions > h5{
    margin-top: 1rem;
}


.fa-user-md{
    color: var(--w);
    background:var(--firtsColor);
    padding: .5rem;
    border-radius: 50%;
    
}
.info-medic{
    margin-top: 1rem;
    list-style: none;
    margin-left: 2rem;
}

.specialty-medic{
    color: var(--firtsColor);
}


.img-bo{
    width:600px;
    height:auto;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    border-radius: 3px 0px 3px 0px;
    box-shadow: 1px 1px 6px var(--firtsColor);
}



.contenedor{
    margin-bottom: 6rem;
}

hr{
    width: 50%;
}

.img-doctors{
    width:180px;
    object-fit: contain;
}

.text-separator{
    border: 1px 1px 0px 1px solid var(--firtsColor);
}
