:root{
    --iconsSidebar:#DC3545;
    --sidebarColor:#232836;

}

.icon-sidebar > i{
    color:var(--iconsSidebar);
}
.main-sidebar{
    background:var(--sidebarColor);
}

.main-sidebar{
    /* background:var(--dashboard); */
}

.medical-container {
    height:10rem;
    color: #fff;
    
}

.medical-tags{
    height:17rem;

}

.display-1{
    color:#000;
}
.container-doctorComic {
    background:#F4F6F9;
    transform:translateY(-60px);


}
.doctorComic{
    width:auto;
    height:220px;
    /* transform:translateY(-60px); */
    padding:2rem;
}

.number{
    font-size:90px;
}