:root{
    --firtsColor:#1C2536;

}
.img-patient{
    width:200px;
    height:200px;
    object-fit: cover;
}

@media screen and (max-width:600px) {
    .img-patient{
        display: none;
    }

}

.info{
    margin-bottom: 6rem;
}





/* card */

.membership{
    width: auto;
    height:300px;
}


.data{
    background:var(--firtsColor);
    border-radius:5px 0px 0px 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.items{
    color: #fff;
    font-size:30px;
}

.logo2{
    border-radius:0px 5px 5px 0px;

}

.logoCard{
    width:90px;
    height: auto;
}
