<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- /boostrap -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- /fontawesome -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logos/logo.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- nav -->

<div class="conatiner nav-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4  ">
        <div class="container-fluid">

            <div class="container-logos d-flex">
                <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" src="{% static 'img/logos/logo.png' %}" alt=""></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>      
            
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex justify-content-center align-item-center">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                  </li>
                  <!-- appointment -->
                  {% if user.is_authenticated %}

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Citas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'appointment' %}">Pedir citar</a></li>
                      <li><a class="dropdown-item" href="{% url 'appointmentList' %}">Ver cita</a></li>
                    </ul>
                  </li>               
                  <!-- /appointment -->
                  {% endif %}

                  <!-- branchoffice -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'branchOffices' %}">Sucursales</a>
                  </li>
                  <!-- branchoffice -->
                  
                  <!-- about -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">Conocenos</a>
                  </li>
                  <!-- about -->

                  <!-- Admin Dashboard -->
                  {% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'controlPanel' %}">Panel</a>
                  </li>  
                  {% endif %}
                  <!-- Admin Dashboard -->


                  <!-- user -->
                  
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      @ {{user.username}}
                    </a>
                    <ul class="dropdown-menu ml-4" aria-labelledby="navbarDropdown">
                      <li><a class="nav-item dropdown-item nav-link" href="{% url 'DetailUserProfile' user.id %}">Perfil</a></li>

                        <li class="nav-item" ><hr class="dropdown-divider"></li>
                      <li><a class="nav-item dropdown-item nav-link" href="{% url 'logout' %}">Logout</a></li>

                    {% else %}

                      <li><a class=" nav-item dropdown-item" href="{% url 'login' %}">Login</a></li>
                      <li class="nav-item" ><hr class="dropdown-divider"></li>
                      <li><a class=" nav-item dropdown-item" href="{% url 'registro' %}">Registrarme</a></li>
                    </ul>
                  </li>               
                  {% endif %}

                  <!-- /user -->
                  </ul>
                </ul>
            </div>
        </div>
      </nav>

</div>

<!-- nav -->


  



    {% block content %}




      
    {% endblock %}
    

<!-- footer -->
<div class="container-fluid footer mt-4">    
    <footer class="text-center bg-light text-white ">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
            
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
        </div>
      
        <div class="text-center p-3 footer-conatiner" >
          © 2021 Copyright:
          <a class="text-white" href="#">Medical Service</a>
        </div>
    </footer>
    
</div>

  <!-- footer -->



    <!-- boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- /boostrap -->

</body>
</html>