{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}



{% block content %}
<!-- css -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!-- /css -->


<!-- sliders -->

  <div class="container-fluid conatiner-sliders">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/sliders/1.jpg' %}" class="d-block w-100 vh-100 img-slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Lo mas grandes especilistas</h5>
              <p>Tenemos los mejore sespecialistas en todas las areas</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/sliders/2.jpg' %}" class="d-block w-100 vh-100 img-slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Etica ante todo</h5>
              <p>Nuestro mayor compromiso esta bien!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/sliders/3.jpg' %}" class="d-block w-100 vh-100 img-slider" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cobertura a nivel mundial</h5>
              <p>Contamos con sucursales en mas de 120 paises</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>


<!-- sliders -->


<!-- contact info -->

<div class="conatainer-fluid p-4">
    <div class="card-group">
        <div class="card">
            <div class="container-icon d-flex justify-content-center align-items-center p-4">
              <i class="fas fa-mobile-alt infoIcon"></i>
            </div>
            <div class="card-body">
            <h5 class="card-title text-center">ORIENTACIÓN MÉDICA TELEFÓNICA</h5>
            <p class="card-text text-center">
                Al (011) 4363-4710 (CABA) ó al 0800-122-1040 (desde el interior del país) Las 24 hs.</p>
          </div>
        </div>
        <div class="card">
            <div class="container-icon d-flex justify-content-center align-items-center p-4">
              <i class="fas fa-briefcase infoIcon"></i>
                
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">URGENCIAS y EMERGENCIAS</h5>
                <p class="card-text text-center">0800-777-7800</p>
            </div>
        </div>
        <div class="card">
            <div class="container-icon d-flex justify-content-center align-items-center p-4">
              <i class="fas fa-info infoIcon"></i>
                
            </div>

          <div class="card-body">
            <h5 class="card-title text-center">INFORMACIÓN AL ASOCIADO</h5>
            <p class="card-text text-center">Más información</p>
          </div>
        </div>
        <div class="card">
            <div class="container-icon d-flex justify-content-center align-items-center p-4">
              <i class="fas fa-shipping-fast infoIcon"></i>
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">ATENCIÓN DE VENTAS</h5>
                <p class="card-text text-center">0800-777-7800</p>
            </div>
        </div>

      </div>
</div>



<hr>

<!-- office -->

<div class="container">
  <div class="row">
    {% for b in  branchOffices %}
    <div class="col-md-6 ml-4">
        <a href="{% url 'detail' b.id %}"><img src="{{b.image.url}}" class="img-size" ></a>
        <div class="card d-flex m-auto bofic-card">
          <a href="{% url 'detail' b.id %}"><div class="card-title h4 text-center text-danger p-4">{{b.name}}</div></a>
          <div class="card-description text-justify p-4 bofic-descriptions">{{b.description}}</div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>



<!-- specialty -->

<div class="container mb-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card-group bl-0 ml-2">
        {% for s in specialty %}
          
          {% if s %}
            <div class="card card-container m-4">
              <a href="{% url 'detailSpecialty' s.id %}" class="d-flex aling-item-center justify-content-center"> 
                <i class="fa {{s.icon}} text-danger h1 m-auto p-4 " ></i>
                <div class="card-body">
                  <h5 class="card-title text-center">{{s.name}}</h5></a>
                </div>
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- specialty -->


<script src='{% static "js/index.js" %}'></script>

      
{% endblock %}