{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}




{% block content %}


    <link rel="stylesheet" href="{% static 'css/branchOffices.css' %}">
    <link rel="stylesheet" href="{% static 'css/branchOfficesDetails.css' %}">



    <!-- sucursales -->
    <div class="container">
        <div class="card border-0 mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ object.image.url }}" class="img-fluid rounded-start imgBranchOf" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title h2 text-danger fw-bold">{{ object.name }}</h5>
                        <p class="card-text text-justify">Direccion:{{ object.description }}</p>
                        <p class="card-text">Telefono:{{ object.phone }}</p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><small class="text-muted">{{ object.address }}</small></p>
                            <a href="{% url 'appointment' %}" class="btn btn-danger button-appointment">Pedir Cita</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /sucursales -->

    <div class="container contenedor">

        <!-- secoond rows -->
        <div class="divisor d-flex align-items-center">
            <hr class="ml-4 text-danger">
            <h6 class='text-center text-separator'>Doctores de Sucursal</h6>
            <hr class="mr-4 text-danger">
        </div>

        <!-- /secoond rows -->


    </div>

    <!-- doctors -->

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for s in object.doctors.all %}
                <div class="col">
                    <div class="card h-100">
                        <img style="width: 400px;height: 300px;object-fit: cover;" src="{{ s.image.url }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dr./Dra. {{ s.name }} {{ s.lastName }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <p class="card-text fw-bold">
                                    {% for m in s.specialty.all %}
                                        <span class="text-danger fw-bold"> Especialidad:</span> {{ m.name }}
                                    {% endfor %}
                                </p>
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<!-- /doctors -->




{% endblock %}