{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}




{% block content %}

<link rel="stylesheet" href="{% static 'css/branchOfficeList.css' %}">


<div class="container contenedor">
    <!-- firts row -->
    {% for b in branchOffice %}
    <hr>
    <div class="container">
        <div class="row pt-4 border-danger d-flex justify-content-center align-items-center mt-4 mb-4">
            <div class="col-6">
                <div class="jumbotron">
                    <h1 class="display-4 text-center text-colored">{{b.name}}</h1>
                </div>            
                <ul class="ul-descriptions">
                    <li><strong>Direccion:</strong> {{b.address}}</li>
                    <li><strong>Telefono:</strong> {{b.phone}}</li>
                    <h5>Especialidades</h5>
    
                    
                    {% for s in b.doctors.all %}
                    <li class="info-medic"><i class="fas fa-user-md"></i> 
                        Dr.{{s.name}} {{s.lastName}} / 
                        {% for m in s.specialty.all %}
                        <span class="specialty-medic">{{m.name}}</span>
                        {% endfor %}
                    </li>
                        {% endfor %}
                </ul>
            </div>
    
            <div class="col-6">
                <a href="{% url 'detail' b.id %}"><img class="rounded img-top img-bo" src="{{b.image.url}}" alt=""></a>
            </div>
            <div class="">
                <a href="{% url 'appointment' %}" class="btn btn-danger w-25 button-appointment">Pedir Cita</a>
            </div>
        </div>
    
    </div>
    <!-- firts row -->
    {% endfor %}
</div>


      
{% endblock %}