{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}




{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">

      <div class="container">
        <div class="container-fluid">
          <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
              <img src="{% static 'img/logo.png' %}" alt="">
              <h4 class="company_title">Urgencias Medical Care</h4>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
              <div class="container-fluid">
                <div class="row mt-4">
                  <h2>Registro</h2>
                </div>
                <div class="row">
                  <form control="" class="form-group" method='POST'>
                    {% csrf_token %}
                      {{form | crispy}}
                    <div class="row d-flex justify-content-center">
                      <input type="submit" value="Registrarme" class="btn">
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      {% endblock %}